@import "styles/variables";

.aboutSection {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  .memberDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    .name {
      color: $navDetailColor;
    }
    img {
      width: 30%;
    }
    ul {
      margin-right: 25px;
    }
  }
  .githubContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    .link {
      margin-left: 5px;
      width: 150px;
      color: $navDetailColor;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .aboutSection {
    flex-direction: column;
    gap: 50px;
  }
}
