@import "styles/variables";

.aboutSection {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  .memberDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    .name {
      color: $buttonColor;
    }
    img {
      width: 50%;
      border-radius: 25px;
    }
    .textsection {
      height: 150px;
      width: 300px;
    }
  }
  .githubContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    .link {
      margin-left: 5px;
      width: 150px;
      color: $secondaryColor;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .aboutSection {
    flex-direction: column;
    gap: 50px;
  }
}
