@import "styles/variables";

.cardcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: -3px 6px 7px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -3px 6px 7px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -3px 6px 7px -4px rgba(0, 0, 0, 0.42);
  border-radius: 5px;
  transition: transform ease-in-out 0.2s;
  p {
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 455px;
  margin-top: 20px;
  margin-bottom: 20px;
  .cardImage {
    height: 230px;
    width: 230px;
    border-radius: 10px;
    object-fit: cover;
  }
  .innerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 19px;
      margin-bottom: 20px;
    }
  }
  .cardButton {
    background-color: $buttonColor;
    border-radius: 1rem;
    border: none;
    padding: 15px;
    margin-bottom: 2px;
    &:hover {
      cursor: pointer;
      background-color: $otherDetailColor;
    }
  }
}
@media only screen and (max-width: 700px) {
  .card {
    width: 300px;
    height: 200px;
    align-items: flex-start;
    .cardImage {
      margin-top: 25px;
      height: 150px;
      width: 150px;
    }
    .innerCard {
      p {
        font-size: 15px;
        margin-bottom: 5%;
      }
    }
    .cardButton {
      padding: 8px;
    }
  }
}
