@import "styles/variables";

.card {
  display: flex;
  background-color: $otherDetailColor;
  border-radius: 1rem;
  justify-content: space-evenly;
  align-items: center;
  width: 455px;
  height: 320px;
  text-align: center;
  padding: 10px;
  .cardImage {
    height: 230px;
    width: 230px;
    border-radius: 1rem;
    object-fit: cover;
  }
  .innerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 19px;
      margin-top: 5%;
    }
  }
  .cardButton {
    background-color: $buttonColor;
    border-radius: 1rem;
    border: none;
    padding: 20px;
    margin-bottom: 2px;
    &:hover {
      cursor: pointer;
      background-color: $otherDetailColor;
    }
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
}
@media only screen and (max-width: 700px) {
  .card {
    width: 300px;
    height: 200px;
    align-items: flex-start; /* Align items to the start of the row */
    .cardImage {
      margin-top: 25px;
      height: 150px;
      width: 150px;
    }
    .innerCard {
      p {
        font-size: 15px;
        margin-bottom: 5%; /* Add margin bottom instead of margin top */
      }
    }
    .cardButton {
      padding: 8px;
    }
  }
}
