@import "styles/variables";

.navbar {
  display: flex;
  padding-left: 2rem;
  justify-content: left;
  gap: 130px;
  border-bottom-right-radius: 60px;
  color: white;
  background-color: $secondaryColor;
}

.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}
.linkActive {
  transform: scale(1.2);
  color: $navDetailColor;
  pointer-events: none;
}

.hamburgerMenu {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.dropdown {
  display: none;
  position: absolute;
  width: 200px;
  padding: 1rem;
  color: white;
  background-color: $secondaryColor;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: left;
  }
}
