@import "styles/variables";

.navbar {
  position: relative;
  display: flex;
  padding-left: 2rem;
  justify-content: left;
  gap: 100px;
  border-bottom-right-radius: 60px;
  color: white;
  background-color: $secondaryColor;
  .gurka {
    position: absolute;
    top: 4px;
    right: 30px;
    &:hover {
      animation: rotate-infinite 10s linear infinite;
    }
  }

  @keyframes rotate-infinite {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}
.linkActive {
  transform: scale(1.2);
  color: white;
  pointer-events: none;
}

.hamburgerMenu {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.dropdown {
  display: none;
  position: absolute;
  width: 200px;
  padding: 1rem;
  color: white;
  background-color: $secondaryColor;
  border-bottom-right-radius: 60px;
  z-index: 1;
}

// @media screen and (max-width: 768px) {
//   .navbar {
//     justify-content: left;
//   }
// }
