@import "styles/variables";

.cardGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
}
.buttonDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.button {
  background-color: $buttonColor;
  border-radius: 1rem;
  border: none;
  padding: 15px;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
    background-color: $otherDetailColor;
  }
}

@media only screen and (max-width: 1560px) {
  .cardGrid {
    grid-template-columns: 45% 45%;
  }
}

@media only screen and (max-width: 1050px) {
  .cardGrid {
    grid-template-columns: 90%;
  }
}
