@import "styles/variables";

.button {
  background-color: $buttonColor;
  border-radius: 1rem;
  border: none;
  padding: 15px;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
    background-color: $otherDetailColor;
  }
}
.fieldset {
  border: 2px solid $buttonColor;
  border-radius: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  .headerLarge {
    position: relative;
    font-size: 2rem;
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
    margin-top: 80px;
    color: $secondaryColor;
    &::before {
      content: open-quote;
      position: absolute;
      transform: translateY(-80px) translateX(-40px);
      font-size: 15rem;
      font-family: "Times New Roman", Times, serif;
      color: $otherDetailColor;
      z-index: -1;
    }
  }
  .choiceWrapper {
    @extend .mainContainer;
    .headerMedium {
      margin-bottom: 1px;
      align-self: flex-start;
      color: $secondaryColor;
    }

    .filterContainer {
      display: flex;
      align-items: center;
      gap: 5px;

      .leftContainer {
        .randomForm {
          .randomField {
            @extend .fieldset;
            .randomButton {
              @extend .button;
            }
          }
        }
        .timeForm {
          .timeField {
            @extend .fieldset;
            .timeButton {
              @extend .button;
            }
          }
        }
      }
      .inclusionForm {
        .inclusionField {
          @extend .fieldset;
          margin-bottom: 15px;

          .inclusionChoiceContainer {
            @extend .filterContainer;
            display: flex;
            flex-direction: column;

            .ingredientContainer {
              min-width: 250px;
              padding-left: 25px;
              padding-right: 25px;
              margin-right: 30px;
              margin-left: 30px;

              .ingredientSelect {
                @extend .button;
              }
            }
            .inclusionChoice {
              display: flex;
              justify-content: space-between;
              min-width: 250px;
              .includeButtonWrapper {
                .includeButton {
                  @extend .button;
                  margin-top: 5px;
                }
              }
              .resetButton {
                @extend .button;
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .choiceWrapper {
      gap: 10px;
    }
    .filterContainer {
      flex-direction: column;
    }
    .headerLarge {
      font-size: 1.1rem;
      &::before {
        transform: translateY(-70px) translateX(-5px);
        font-size: 12rem;
      }
    }
  }
}
