// $primaryColor: rgb(241, 253, 232);
$primaryColor: rgb(250, 253, 245);
$secondaryColor: rgb(78, 138, 51);
$buttonColor: rgb(140, 223, 77);
$navDetailColor: rgb(215, 255, 231);
// $otherDetailColor: rgb(225, 250, 218);
$otherDetailColor: rgb(249, 250, 218);

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
