// @import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");

$primaryColor: rgb(239, 255, 228);
$secondaryColor: rgb(108, 175, 75);
$buttonColor: rgb(121, 205, 55);
$navDetailColor: rgb(215, 255, 231);
$otherDetailColor: rgb(199, 245, 188);

// $fontTangerine: "Tangerine", cursive;
